h1{
  font-style: #0373b4;
  text-align: center;
}
ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


li {
  margin: 20px;
  border: 5px solid #3b7ba1;
  border-radius: 5px;
  padding: 10px;
  width: 300px;
  text-align: center;
  
}
  
 
  .btn-primary {
    background-color: #78787a;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
  }
  
   .btn-primary:hover {
    background-color: #63a3ed;
  }
  
 
  .card-title {
    font-size:20px;
    margin-bottom: 10px;
  }
  